/* The following defines properties of normally ocurring elements */
body {
    background-image: url('image_files/background_music.png');
    background-size: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a {
    display: block;
    padding: 20px 20px;
    text-align: center;
    color:snow;
    background-color:#333;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #666;
}

.active {
    background-color: #777;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #333;
}
td {
    background-color: #666;
}

table {
    width: max-content;
    border-collapse: collapse;
}

/* The literal only purpose of this class is to center the one table in the website*/
.center-table {
    margin-left: auto;
    margin-right: auto;
}





